<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/assets/general.css">
    <title>Upload Files
    </title>
    <link href="/public/css/uploadFiles.css" rel="stylesheet">
</head>
<body>
    <div class ="header">
        <div class ="logo">
            Sertify.
        </div>
        <img class="icon-profile" src="public/assets/icon-profile0.svg">
    </div>
    <div class="main-content">
        <div class="title"> 
            Verify Certificate’s Integrity
        </div>
        <div class="title-desc">
            Upload a certificate file in PDF format to instantly verify its integrity.       
        </div>
        <div class="form-container">
            <form th:action="@{/sertify/upload/submit}" th:method="post">
                <input type="file" name="file">
                <a href="verifResult.html"><input type="submit" class="upload-btn"value="Verify">
            </form>
        </div>
    </div>
</body>
</html>