<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../../static/assets/general.css">
    <title>Upload Files
    </title>
    <link href="../../static/public/css/verifResult.css" rel="stylesheet">
</head>
<body>
    <div class ="header">
        <div class ="logo">
            Sertify.
        </div>
        <img class="icon-profile" src="../../static/public/assets/icon-profile0.svg">
    </div>
    <div class="main-content valid">
        <div class="title"> 
            Verification Result : <span>Valid Certificate</span>
        </div>
        <div class="title-desc">
            This certificate’s data is valid and has not been changed        
        </div>
        <div class="file-container"><img src="../../static/public/assets/icon-pdf0.svg"><span>Nama file</span><img src="../../static/public/assets/check0.svg" class="icon-check"></div>
    </div>
    <div class="main-content invalid">
        <div class="title"> 
            Verification Result : <span>Invalid Certificate</span>
        </div>
        <div class="title-desc">
            The certificate is not valid or could not be verified. 
            Please contact the issuing institution for further assistance        
        </div>
        <div class="file-container"><img src="../../static/public/assets/icon-pdf0.svg"><span>Nama file</span><img src="../../static/public/assets/x0.svg" class="icon-x"></div>
    </div>
</body>
</html>