<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../../static/assets/general.css">
    <title>Wrong Size
    </title>
    <link href="../../static/public/css/wrongSize.css" rel="stylesheet">
</head>
<body>
    <div class ="header">
        <div class ="logo">
            Sertify.
        </div>
        <img class="icon-profile" src="../../static/public/assets/icon-profile0.svg">
    </div>
    <div class="main-content">
        <div class="bg-main-content">
            <img src="../../static/public/assets/icon-error0.svg" class="icon-error">
            <div class="warning-msg">
                Oops! Your Certificate <span>Dimensions</span> are <span>Incorrect</span>
            </div>
            <div class="warning-instruction">
                Please upload the certificate in its original dimensions
            </div>
            <a href="UploadFiles.html"><button type="button" class="upload-btn">Upload new file</button></a>
        </div>
    </div>
</body>
</html>