<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/admin/css/uploadFiles.css">
    <title>Upload Files
    </title>
</head>
<body>
    <div class ="header">
        <div class ="logo">
            Sertify.
        </div>
        <img class="icon-profile" src="/admin/assets/icon-profile0.svg">
    </div>
    <div class="main-content">
        <div class="title"> 
            Input Text for Watermark      
        </div>
        <div class="form-container">
            <form action="#" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Name" required>
    
                <label for="idNumber">ID Number:</label>
                <input type="text" id="idNumber" name="idNumber" placeholder="Enter ID Number" required>
    
                <label for="certificateNumber">Certificate Number:</label>
                <input type="text" id="certificateNumber" name="certificateNumber" placeholder="Enter Certificate Number" required>
    
                <label for="datePublished">Date Published:</label>
                <input type="date" id="datePublished" name="datePublished" required>
    
                <label for="ownerPosition">Owner's Position:</label>
                <input type="text" id="ownerPosition" name="ownerPosition" placeholder="Enter Owner's Position" required>
    
            <button type="submit" class="btn"><a href="watermarked.html">Create Watermark</a></button>
            </form>
        </div>
       
    </div>
</body>
</html>