<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Upload Files</title>
    <link href="/admin/css/uploadFiles.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            Sertify.
        </div>
        <img class="icon-profile" src="/admin/assets/icon-profile0.svg">
    </div>
    <div class="main-content">
        <div class="title"> 
            Upload File to Start Generating Watermark       
        </div>
        <div class="form-container">
            <form th:action="@{/sertify/upload/submit}" th:method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" class="upload-btn" value="Verify">
            </form>
        </div>
    </div>
</body>
</html>
