<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/general.css">
    <title>Success!
    </title>
    <link href="/admin/css/watermarked.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/general.css">
</head>
<body>
    <div class ="header">
        <div class ="logo">
            Sertify.
        </div>
        <img class="icon-profile" src="/admin/assets/icon-profile0.svg">
    </div>
    <div class="main-content">
        <div class="title"> 
            Your watermark has been successfully <span>added</span>
        </div>
        <a th:href="@{/admin/download}"><button type="button" class="upload-btn"><img src="/admin/assets/icon-download-file0.svg" class="icon-upload-file" >Download certificate</button></a>
    </div>
</body>
</html>